*,*::after, *,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    max-width: 1110px;
    margin: 0 auto;
}
body{
    font-family: 'Oswald', sans-serif;
}
header{
    background: url(../img/Rectangle\ \(6\).jpg);
    min-height: 100vh;
}
.flex_conteiner{
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    align-items: center;
}
nav ul{
    display: flex;
    min-width: 200px;
    justify-content: space-between
}
nav a{
    color: green;
    transition: all 0.6s;
}
nav a:hover{
    opacity: 0.5;
}
.info h1{
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 734px    ;
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 35px;
}
.info p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.grid_conteiner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0px 30px;
}
.yerars_element h2{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 100px;
}
.yerars_element p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}
.yerars_element span{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
}
.opisanie h3{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #404149;
    padding-top: 100px;
}
.grid_conteiner2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px 30px;
}
.fotka h4{
    width: 290px;
    height: 142px;
    left: 435px;
    top: 5217px;
}
.fotka p{
    width: 290px;
}

.zapros h2{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.zapros p{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.service {
    background-color: #F7654A;
    padding: 30px 0;
}
.f{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid_conteiner3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px 30px;
}
.pe h4{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}
.p h3{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 100px;
} 
.vox h3{
    text-align: center;
}
.pe img{
    padding-left: 120px;
    padding-top: 20px;
}
.grid_conteiner4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 70px;
}
.rov img{
    max-width: 100%;
}
.ser {
    background-color: #404149;
    padding: 30px 0; 
}
.dos h2{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}
.wto-ele{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tor h2{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    padding-top: 100px;
}

.grid_conteiner5{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
 .bulki{
   top: 5138px;
   background: #F7F7F7;
 }
 .p {
    color: red;
 }
 .bulki span {
    color: #F7654A;
 }
 .bulki{
    margin-bottom: 100px;
 }
 .port {
    background-color: #F7654A;
    padding: 30px 0;
}
.fond{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zap h2{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.zap p{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.grid_conteiner78{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.hoho h2{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    padding-top: 100px;
}
.pete p{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;   
}
.peter p{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center; 
    color: #F7654A;
    margin-bottom: 100px;
}
.pete h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #999999;
}
.pete img{
    display: block;
    margin: 0 auto;
}
.peter h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #999999;
}
.peter img{
    display: block;
    margin: 0 auto;
}
.jo {
    background-color: #404149;
    padding: 30px 0;
}
.jot p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}
.jot h2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.jot{
    justify-content: space-between;
    display: flex;
}


/* .zapros r{
    display: flex;
    justify-content: space-between
} */

/* media zapros */

@media screen and (max-width: 700px) {
    .info h1{

    
    font-size: 30px;
    line-height: 43px;
    }
    .fotka p {
        color:#999999;
        font-size: 30px;    
        line-height: 40px;
    }
    .grid_conteiner2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid_conteiner3{
        grid-template-columns: repeat(1,1fr);
    }
    .grid_conteiner78{
        grid-template-columns: repeat(2,1fr); 
    }
}


@media screen and (max-width: 400px) {
    .info h1{
    font-size: 30px;
    line-height: 43px;
    }
}
